extends base

block content
  h3 Problems
  div(ng-controller="ProblemCtrl")

    div.problem-item(ng-repeat="problem in problem_list")
      div.title Problem {{problem._id}}
      p {{problem.name}}

    h3 Add new problem
    label(for="id_number") Number:
    input#id_number(type="text", ng-model="problem.number")
    label(for="id_name") Name:
    input#id_name(type="text", ng-model="problem.name")
    label(for="id_description") Description:
    textarea#id_description(type="text", ng-model="problem.description")
    label(for="id_answer") Answer:
    input#id_answer(type="text", ng-model="problem.answer")
    br
    button.btn(ng-click="save()") Save new